$text-color-dark: #333;

$background-color-lt: #dcdcdc;
$background-color-dk: #161616;
$background-card: #fff;

$price: #dc143c;

$overlay: linear-gradient(90deg, transparent, rgba(163, 59, 76, 0.514));